In [1]:
import pandas  as pd 
import csv
from scipy.sparse import lil_matrix 
import scipy.spatial.distance
from sklearn.metrics import DistanceMetric
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import euclidean_distances

In [2]:
# creating the dataFrame from the Csv file 
df = pd.read_csv('cbb23.csv')
df = df.set_index('TEAM')
df = df.drop(columns=['CONF','WAB','POSTSEASON','SEED'])
df.fillna(0)

,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T
TEAM,,,,,,,,,,,,,,,,,,
Kansas,36,28,113.8,92.3,0.9177,52.6,47.0,17.5,20.2,28.7,28.7,29.8,31.1,53.0,47.2,34.7,31.0,69.0
Purdue,35,29,117.9,93.7,0.9333,51.8,47.2,17.2,15.4,38.4,23.5,37.2,19.2,54.1,47.2,32.2,31.3,63.9
Alabama,37,31,116.1,89.0,0.9548,52.1,41.3,18.7,15.8,34.2,27.9,36.6,32.6,53.8,40.8,33.5,28.3,72.6
Houston,37,33,117.3,90.3,0.9532,52.3,42.7,15.4,21.1,37.1,27.7,28.9,35.7,53.1,43.4,34.0,27.9,63.4
Texas,38,29,116.1,91.8,0.9371,53.3,48.1,16.3,22.1,28.3,29.0,30.5,33.7,54.0,47.9,34.7,32.4,68.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Toledo,34,27,119.9,109.6,0.7369,56.3,52.9,13.6,18.3,29.8,30.9,34.4,27.5,54.6,52.1,39.7,36.1,69.5
Liberty,33,27,111.4,97.3,0.8246,55.5,49.3,16.0,18.9,25.3,20.2,26.2,27.8,56.4,48.6,36.4,33.6,64.4
Utah Valley,34,28,107.1,94.6,0.8065,51.7,44.0,19.3,16.3,28.9,29.1,35.6,28.7,52.5,42.8,33.4,31.1,69.8
UAB,38,29,112.4,97.0,0.8453,50.3,47.3,17.3,19.3,35.8,29.3,35.7,28.9,48.8,47.2,35.6,31.6,70.7
North Texas,36,31,110.0,93.8,0.8622,51.2,44.5,19.8,19.9,33.4,28.6,31.0,40.2,49.6,44.2,35.7,30.1,58.7

In [3]:
# establishing the query for similarity uses 
query1 = ['ADJOE','ADJDE','BARTHAG']
query2 = ['TOR','ORB']
query3 = ['EFG_O','2P_O','3P_O']

In [4]:
# establishing the target value and creating subdataframe based on the queries
target =  'Connecticut'
df1 = df.loc[:, query1]
df2 = df.loc[:, query2]
df3 = df.loc[:, query3]
df1.values.reshape(1,-1)
df2.values.reshape(1,-1)
df3.values.reshape(1,-1)

array([[52.6, 53. , 34.7, ..., 51.2, 49.6, 35.7]])

In [117]:
# query 1 similary metric
target_query1 =  df1.loc[target] 
tarq1 =  dict()
for i, row in df1.iterrows():
    rave = cosine_similarity([row],[target_query1])
    tarq1[i] = float(rave)
  
tarq1 =  sorted(tarq1.items(), key = lambda x:x[1],reverse=True)
count = 0
print('top 10 similar college basketball team on  to Connecticut using Cosine similarity')
for x in tarq1:
    if count == 10:
        break
    else:
        if x[0] == 'Connecticut':
            continue
        else:
            print(x[0],' ',x[1])
            count+=1

top 10 similar college basketball team to Connecticut using Cosine similarity
Alabama   0.9999486534892533
Houston   0.9999259420767044
UCLA   0.999922724987092
Tennessee   0.9997403393401326
Texas   0.9996838448250664
Purdue   0.9996183159118373
Arizona   0.9995430367719582
Gonzaga   0.999454827239343
Saint Mary's   0.9993774212827274
San Diego St.   0.9993678374266355

In [5]:
# query 2 similary metric
target_query2 = df2.loc[target]
tarq2 = dict()
for i, row in df2.iterrows():
    rave = cosine_similarity([row],[target_query2])
    tarq2[i] = float(rave)
  
tarq2 =  sorted(tarq2.items(), key = lambda x:x[1],reverse=True)
count = 0
print('top 10 similar college basketball team on rebound and turnover rates to Connecticut using Cosine similarity')

for x in tarq2:
    if count == 10:
        break
    else:
        if x[0] == 'Connecticut':
            continue
        else:
            print(x[0],' ',x[1])
            count+=1

top 10 similar college basketball team on rebound and turnover rates to Connecticut using Cosine similarity
Detroit   0.9999998359589694
Cleveland St.   0.9999987955282995
Marshall   0.9999987634386911
Cincinnati   0.9999978141651438
Ohio   0.999997097869762
Tennessee   0.999987000515328
Providence   0.9999850877508497
UAB   0.9999807902744018
Texas A&M   0.9999807265290097
College of Charleston   0.9999777577457095

In [142]:
# query 3 similary metric
target_query3 = df3.loc[target]
tarq3 = dict()
for i, row in df3.iterrows():
    rave = euclidean_distances([row],[target_query3])
    tarq3[i] = float(rave)
  
tarq3 =  sorted(tarq3.items(), key = lambda x:x[1],reverse=False)
count = 0
print('top 10 similar college basketball team based on scoring(field goals, 2 point percentage, 3 point percentage) to Connecticut using  euclidean distance ')
for x in tarq3:
    if count == 10:
        break
    else:
        if x[0] == 'Connecticut':
            continue
        else:
            print(x[0],' ',x[1])
            count+=1

top 10 similar college basketball team based on scoring(field goals, 2 point percentage, 3 point percentage) to Connecticut using  euclidean distance
Clemson   0.24494897428099116
Lipscomb   0.3741657386754009
Wake Forest   0.5099019513586007
Florida Atlantic   0.5385164807134166
Miami FL   0.6708203932504793
Virginia Tech   0.8660254037839136
Indiana   0.8774964387379063
San Francisco   1.0488088481707585
Samford   1.063014581273944
Penn   1.0862780491205741